body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393939;
    color: white;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.meal-plan {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    flex: 1 1 300px;
    max-width: 350px;
}

.meal-plan h2 {
    margin-top: 0;
}

.meal {
    border-top: 1px solid #ddd;
    padding: 0.5rem 0;
}

.meal:first-child {
    border-top: none;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}