<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

<h1>All Meal Plans</h1>

{% for plan in plans %}
<div class="meal-plan">
    <h2>{{plan_name}}</h2>
    <p><strong>School:</strong> {{school_name}}</p>
    <p><strong>Week of delivery:</strong> {{week_of_delivery}}</p>

    <h3>Meals:</h3>
    <ul>
        {% subFor meal in plan_meals %}
        <li class="meal">
            <h2>{{name}}</h2>
            <p><strong>Ingredients:</strong> {{allergens}}</p>
            <p><strong>Calories:</strong> {{nutritionalInfo}}</p>
            <p><strong>Price:</strong> {{price}}</p>
        </li>
        {% endSubFor %}
    </ul>
</div>
{% endfor %}

</body>
</html>
